/* font-family: "Montserrat", sans-serif; */ @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
:root {
	--corMarca: #FF6600;
	--gradiente: #CC003E;
	--gradiente2: #FA4506;
	--hoverMarca: #D7350A;
	--texto1: #7E7F80;
	--cinzaEscuro: #171717;
	--cinzaGradiente: #0A0A0A;
	--cinzafit: #DDDDDD;
	--cinzaMaisfit: #F9F9F9;
	--laranjaFit: #FCAC65;
	--branco: #fff;
	--black: #000000;
}
body {
	overflow-x: hidden;
}
/* IMAGEM OCULTA QUE APARECE QUANDO O SITE É COMPARTILHADO */
.previw-compartilhamento {
	display: none;
}
.container {
	width: 100%;
	max-width: 1100px;
	display: block;
	margin: 0 auto;
}
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.title-section {
	width: auto;
/*	display: inline-block;*/
	font-size: 18px;
	color: var(--branco);
	text-align: left;
	padding: 5px 12px;
	margin-right: 20px;
	border-radius: 0px 16px 0px 0px;
	background: linear-gradient(to left, var(--corMarca), var(--gradiente));
}
.title-section h1 {
	font-weight: 500;
	text-align: center;
}
.content-title h2 {
	font-weight: 300;
	font-size: 22px;
	font-style: normal;
	color: var(--branco);
}
/* HEADER */
.topo {
	padding: 16px 0px;
	margin-bottom: 3px;
	background: linear-gradient(to bottom, var(--corMarca), var(--gradiente2));
}
.content-topo {
	width: 100%;
	justify-content: space-between;
}




/* CLIENTES */
.clientes {
	padding: 100px 0px;
	position: relative;
}
.clientes .content-title h2 {
	color: var(--texto1);
}
.content-clientes {
	margin-top: 30px;
}
.content-clientes ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.content-clientes ul li {
	list-style: none;
}
.laranja-clientes {
	position: absolute;
	width: 50px;
	height: 80%;
	top: 9%;
	border-radius: 0px 50px 50px 0px;
	background: linear-gradient(to bottom, var(--corMarca), var(--gradiente));
}
.client-img {
	position: relative;
	max-width: 170px;
	flex-grow: 1;
	z-index: 20;
}
.client-img img {
	width: 100%;
}
.imagePB {
	width: 100%;
	position: absolute;
	margin-right: none!important;
	top: 0px;
	left: 0px;
} 
.imagePB:hover {
	opacity: 0;
	transition: 0.3s;
}
/* //CLIENTES */
